h1{
  text-align: center;
  padding-bottom: 20px;
}
img{
  /* width: 350px; */
  /* height: 150px; */
}
.add{
  height: 200px ;
  width: 200px;
  font-size: 132px;
  text-align: center;
  color: #b3b5b7;
  cursor: pointer;
  border-width: 4px;
}
.logo-img {
  width: 30px;
  height: 30px;
  margin-right: 5px; 
}

/* Style for the Arabic text */
.store-name-arabic {
  font-family: Arabic_font;
}
/* styles.css */

.grey-pill {
  background-color: #212529; /* Grey background color */
  color: #ffffff; /* Black text color */
  padding: 10px 40px; /* Adjust padding as needed */
  border-radius: 10px; /* Adjust border radius to make it pill-shaped */
  display: inline-block; /* Display as inline-block to fit content */

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
