@media (max-width:492px) {
  .edit,.delete{
    margin-bottom: 5px;
  }
  .card_button{
    justify-content: center !important;
    flex-wrap: wrap;
  }
}
@media (min-width:493px) and (max-width:767px){
  .edit{
    margin-left: 5px;
  }
  .delete{
    margin-right: 5px;
  }
  .edit,.delete{
    margin-bottom: 5px;
  }
  .card_button{
    justify-content: center !important;
    flex-wrap: wrap;
  }
  /* .container{
    width:540px;
  } */
  
}
@media (min-width:768px) and (max-width:991px){
  .edit{
    margin-left: 5px;
  }
  .delete{
    margin-right: 5px;
  }
  /* .container{
    width:750px;
  } */
}
/* medium */
@media (min-width:992px) and (max-width:1199px){
  .edit{
    margin-right: 10px;
  }
  .delete{
    margin-left: 10px;
  }
  /* .container{
    width:970px;
  } */
}

/* large */
@media (min-width:1200px){
  .edit{
    margin-right: 15px;
  }
  .delete{
    margin-left: 15px;
  }
  /* .container{
    width:1170px;
  } */
}
body{
  /* update background */
}
h1{
  text-align: center;
  padding-bottom: 20px;
}
img{
  /* width: 350px; */
  /* height: 150px; */
}
.add{
  height: 200px ;
  width: 200px;
  font-size: 132px;
  text-align: center;
  color: #b3b5b7;
  cursor: pointer;
  border-width: 4px;
  transition: background-color 0.2s;
  user-select: none;
}
.logo-img {
  width: 30px;
  height: 30px;
  margin-right: 5px; 
}
.add:hover{
  background-color: #ebedef;
}
.a{
  width: auto ;
  color: transparent;
}
.a:hover{
  color: transparent;
}
.done{
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  float: inline-end;
  background-color: #00d404;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  z-index: 1000;
  display: none;
  transition: display 0.5s;
}
.card_button{
  display: flex;
  justify-content: space-between;
  
}
.edit{
  background-color: #343a40;
  width: 80px;
  /* margin-right: 10px; */
  /* display: inline; */
}
.edit:hover{
  background-color: #2e3135;
}
.delete{
  width: 80px;
  /* margin-left: 10px; */
  /* display: inline; */
}
.button_s{
  background-color: #343a40;
  border: none;
}
.button_s:hover{
  background-color: #2e3135;
}
