h1{
  text-align: center;
  padding-bottom: 20px;
}
img{
  /* width: 350px; */
  /* height: 150px; */
}
.add{
  height: 200px ;
  width: 200px;
  font-size: 132px;
  text-align: center;
  color: #b3b5b7;
  cursor: pointer;
  border-width: 4px;
  transition: background-color 0.2s;
  user-select: none;
}
.logo-img {
  width: 30px;
  height: 30px;
  margin-right: 5px; 
}
.add:hover{
  background-color: #ebedef;
}
.a{
  width: auto ;
  color: transparent;
}
.a:hover{
  color: transparent;
}
.done{
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  float: inline-end;
  background-color: #00d404;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  z-index: 1000;
  display: none;
}
